[submodule "package/tool"]
	path = package/tool
	url = ssh://git@quanjingshuju.com:222/yaoxiebang2/tool.git
[submodule "package/user"]
	path = package/user
	url = ssh://git@quanjingshuju.com:222/yaoxiebang2/user.git
[submodule "package/news"]
	path = package/news
	url = ssh://git@quanjingshuju.com:222/yaoxiebang2/news.git
[submodule "package/admin"]
	path = package/admin
	url = ssh://git@quanjingshuju.com:222/yaoxiebang2/admin.git
[submodule "package/product"]
	path = package/product
	url = ssh://git@quanjingshuju.com:222/yaoxiebang2/product.git
