includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - ./vendor/ekino/phpstan-banned-code/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - app

    level: 8

    excludePaths:
        - app/Rules
        - app/Http/Middleware
        - app/Http/Controllers
        - app/Exceptions
        - app/Traits
        - vendor

    checkMissingIterableValueType: false
